
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  padding-top: 80px;
}

